html, body {
    margin: 0;
}

body {
    background-image: url(../assets/images/landscape.jpeg);
    width: 100%;
    height: auto;
    /* position: fixed; */
    /* top: 0;
    right: 0; */
    display: flex;
    position: bottom;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0%;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav content side"
        "footer footer footer";
    grid-template-columns: 210px 1fr 210px;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100vh;
    border: 1px solid red;
}

header {
    grid-area: header;
    text-align: center;
    width: 100%;
    height: 20vh;
    color: #F5EB4B;
    text-shadow: 2px 2px darkblue;
    background-color: #2279EC;
    border: 1px solid red;
    padding-bottom: 1.5em;
}

p {
    font-size: 2.8em;
    margin: 0.4em;
    font-weight: 700;
}

span {
    text-decoration: uppercase;
    color: darkblue;
    text-shadow: 2px 2px #F5EB4B;
    font-size: 1.3em;
    
}

hr {
    width: 30%;
    color: black;

}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid red;
    flex-direction: column;
    text-align: center;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.2em;
    background-color: none;
}

a:hover {
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 0.9em;
    background-color: none;
    /* transform: rotateX(360deg); */
    text-transform: uppercase;
    text-orientation: sideways;
}

main {
    grid-area: content;
    border: 1px solid red;
    color: red;
    text-align: center;
}

main > p {
    color: red;
    text-shadow: 2px 2px black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    height: 100%;
    padding: 0;
    margin: 1px solid red;
}

.thing {
    background-color: rgba(211,211,211, 0.5);
    width: 175px;
    height: 175px;
    /* border: 1px solid black; */
    margin: 2em;
    padding: 0;
}

.thing:nth-child(-n+5) {
    border: 1px solid red;
    margin-bottom: 0;

}

.thing:nth-child(n+5) {
    border: 1px solid green;
    margin-top: 0;
    
    
}

.thing > p {
    font-size: .6em;
}

.thing:hover {
    background-color: rgba(211,211,211, 1.0);
    text-shadow: 0.5px 0.5px black;
}

img {
    width: 125px;
    height: 125px;
}

aside {
    grid-area: side;
    border: 1px solid red;
    background-color: none;
    color: white;
    text-shadow: 2px 2px black;
    background-color: lightgray;

}

h2, h4 {
    text-align: center;
    color: burlywood;
    margin: 0;
    padding: 0;
}

h4 {
    color: forestgreen;
}

footer {
    grid-area: footer;
    border: 1px solid red;
    background-color: burlywood;
}
