html, body, p {
    margin: 0;
}

body {
    background-image: url(../assets/images/landscape.jpeg);
    width: 100%;
    height: auto;
    /* position: fixed; */
    /* top: 0;
    right: 0; */
    display: flex;
    position: bottom;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0%;
}

.body {
    background-image: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0%;   
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav content side"
        "footer footer footer";
    grid-template-columns: 210px 1fr 210px;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    /* height: 100vh; */
    border: 1px solid black;
}

header {
    grid-area: header;
    text-align: center;
    width: 100%;
    height: 20vh;
    color: #F5EB4B;
    text-shadow: 2px 2px darkblue;
    background-color: #2279EC;
    border: 1px solid black;
    padding-bottom: 1.5em;
    z-index: 10;
}

.banner {
    position: fixed;
    /* display: flex; */
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    height: 20vh;
    color: #F5EB4B;
    text-shadow: 2px 2px darkblue;
    background-color: #2279EC;
    border: 1px solid black;
    padding-bottom: 1.5em;
}

p {
    font-size: 2.8em;
    margin: 0.4em;
    font-weight: 700;
    text-align: center;
}

span {
    text-decoration: uppercase;
    color: darkblue;
    text-shadow: 2px 2px #F5EB4B;
    font-size: 1.3em;  
}

hr {
    width: 30%;
    color: black;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    flex-direction: column;
    text-align: center;
    background-color: rgba(222,184,135,0.8)
}

.rownav {
    position: fixed;
    top: 20vh;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 6vh;
    border: 1px solid black;
    flex-direction: row;
    font-size: 0.8em;
    text-align: center;
    background-color: rgba(222,184,135,0.8);
    z-index: 10;
}

.rownav > a {
    padding: 0.8em 0.8em 1.0em 0.8em;
}

/* .menu:hover, aside:hover {
    background: linear-gradient(90deg, blue, lightblue, turquoise);
} */

.menu:hover, aside:hover {
        transition: 0.5s;
        background: linear-gradient(90deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;
        --c1: #f6d365;
        --c2: #fda085;
}

.menu > p {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.2em;
    background-color: none;
}

.menu > a:hover {
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 0.85em;
    background-color: none;
    text-transform: uppercase;
    text-orientation: sideways;
}

.main {
    display: flex;
    grid-area: content;
    border: 1px solid black;
    color: red;
    text-align: center;
    justify-content:center; 
    align-items:center;
    flex-direction: column;
}

.main > p {
    color: #F5EB4B;
    text-shadow: 2px 2px black;
}

.grid {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 100%;
    padding: 0;
    margin: 1px solid black;
}

.thing {
    align-content: flex-start;
    background-color: rgba(211,211,211, 0.8);
    /* width: 175px;
    height: 175px; */
    border: 1px solid black;
    border-radius: 5%;
    padding-top: 25px;
    width: 175px;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.thing > p {
    font-size: .7em;
    display:flex;
    justify-content:center;
    align-items:center;
}

.thing:hover {
    background-color: rgba(211,211,211, 1.0);
    text-shadow: 0.5px 0.5px black;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 125px; 
}

/* .thing > img:hover {
    width: 175px;
    height: 175px;
} */

aside {
    grid-area: side;
    border: 1px solid black;
    background-color: none;
    color: white;
    text-shadow: 2px 2px black;
    background-color: rgba(222,184,135,0.8)

}

tr, td, th {
    text-align: center;
}

td {
    font-size: 0.8em;
}

h2, h4, h5 {
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
}

h2 {
    text-shadow: none;
}

aside > h4 {
    text-shadow: none;
}

footer {
    grid-area: footer;
    border: 1px solid black;
    background-color: rgb(222,184,135)
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6vh;
}

.blog {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    top: 30vh;
    height: auto;
    width: 960px;
    margin: 0 10px 0 10px;
}

.diner p {
    font-size: 0.5em;
    font: 300 16px/22px "Lato","Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;

}

.diner-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    /* margin-top: 40px; */
    padding-bottom: 22px;
    text-align: center; 
}

.diner-info img {
    /* margin: -66px 0 22px 0; */
    /* height: 130px; */
    vertical-align: top; 
}

.diner p:first-child:first-letter {
    color: #903; 
    font-family: Georgia;
    initial-letter: 2;
}

section, aside {
    display: block;
}

.sights {
    background-color: rgba(211,211,211, 0);
}

.diner {
    display:flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.col-1-3 {
    width: 30.3%;
    background-color: lightgray;
    border-radius: 5%;

}

.col-2-3 {
    width: 60.66%;
    background-color: lightgray;
    border-radius: 5%;
}

aside,
.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.col-1-3,
.col-2-3 {
    padding-left: 10px;
    padding-right: 10px;
}

li {
    list-style-type: none;
}

.index {
    text-shadow: 1.5px 1.5px white;
}

.gear {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gear p {
    text-decoration: underline;
    color: darkblue;
}

.gear table {
    font-size: 1.5em;
    background-color: rgba(211,211,211, 0.8)
}

.slideshow-images {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
} 

.slideshow-images:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000050;
    opacity: 0.1;
}

.slideshow-images > img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slideshow 36s linear infinite;
}

.slideshow-images img:nth-child(2) {
    animation-delay: 6s;
}

.slideshow-images img:nth-child(3) {
    animation-delay: 12s;
}

.slideshow-images img:nth-child(4) {
    animation-delay: 18s;
}

.slideshow-images img:nth-child(5) {
    animation-delay: 24s;
}

.slideshow-images img:nth-child(6) {
    animation-delay: 30s;
}

@keyframes slideshow {
    0% {
        opacity: 0;
    }
    1.38% {
        opacity: 1;
    }
    15.27% {
        opacity: 1;
    }
    16.65% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
