* {
    margin: 0;
    font-size: 3vh;
    font-family: "Open Sans";
}

section {
    width: 100%;
    height: 100vh;
}

#home {
    background-image: url("../images/Cats-and-Dogs.jpg");
    display: flex;
    position: bottom;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0%;
}

.title {
    font-family: "Gloria Hallelujah";
    font-size: 3rem;
    text-align: center;
    border: 1px solid red;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid red;

}

nav {
    background-color: #808080;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

a {
    color:white;
}