#fancy {
    margin-left: 3vw;
    font-size: 2em;;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 3vw;
    right: 15vw;
    width: 0;
    height: 0;
}

.open {
    height: auto;
    width: auto;
}

#menu {
    position: fixed;
    top: 3vw;
    right: 7vw;
}

h1 {
    font-size: 1em;
}

main {
    white-space: normal;
    font-size: 2vh;
    /* display: flex;
    flex-direction: column; */
}

main a {
    margin: 0.4em;
    border-width: 0;
    padding-top: calc(0.5em + 3px);
    padding-bottom: calc(0.5em + 3px);
    width: calc(20ch + 5px);
    background: linear-gradient(90deg, blue, lightblue, turquoise);
}   

.teaser {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.teaser > div {
    flex-direction: column;
    position: relative;
    border-right: 1px solid #404040;
}