html, body {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 2vh;
    color: white;
    background-color: purple;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: #17114B;
}

header > span {
    font-weight: 500;
    margin-top: 1.75vw;
    margin-left: 12vw;
    letter-spacing: 0.35em;
}

a {
    text-decoration-line: none;
    color: white;
    font-size: .9em;
}

a:hover {
    color: purple;
}

.left {
    position: relative;
    font-weight: 700;
}

.right {
    font-size: .8em;
    width: 55%;
    margin-top: 1.75vw;
    margin-right: 5.5vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    right: 0;
}

.right > a:first-child {
    color: purple;
}

#home {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center top;
    background-color: purple;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hello {
    font-family: League Script;
    font-size: 6em;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.web {
    text-align: center;
    font-size: 1.75em;
    font-weight: lighter;
    line-height: 1.5;
    vertical-align: middle;
    padding: 1em;
}

#hire {
    color: white;
    width: 20ch;
    border-radius: 2.5em;
    background-color: #FE4D98;
    font-size: .8em;
    margin: 1em;
    border: 0;
    padding: 0.9em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
