#block1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255,255,0,0.5);
    width: 10%;
    height: 10%;
    opacity: 1;
    transition: all 3s ease;
}

#block2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255,0,0,0.5);
    width: 10%;
    height: 10%;
    opacity: 1;
}

#move {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#size {
    position: absolute;
    top: 0;
    left: 55%;
    transform: translate(-50%);
}
#opacity {
    position: absolute;
    top: 0;
    left: 60%;
    transform: translate(-50%);
}
#color {
    position: absolute;
    top: 0;
    left: 65%;
    transform: translate(-50%);
}

#move:hover ~#block1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#size:hover ~ #block2 {
    width: 20%;
    height: 20%;
}

#opacity:hover ~ #block1 {
    opacity: 0.25%;
}

#color:hover ~ #block1 {
    background-color: green;
}
